<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NHS General Practitioner</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='logo-black.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">   
</head>
<body>
<div class="header">
    <header class="bg-primary">
      <a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='logo-no-background.svg')}}"  class="rounded mx-auto d-block " alt="logo company" width="150px" /></a>
    </header>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('services') }}">Services</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="{{ url_for('booking') }}">Online Booking</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('diagnosis') }}">Online Diagnosis</a> 
           </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
    </head>
<body>
    <h1 class="text-center border-3 border-warning border-bottom bg-primary text-white">Register</h1>
    <center><form class="row col-6 g-3" method="POST" action="{{ url_for('register') }}">
        <div class="col-md-6">
        <label class="form-label" for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username" required><br>
        </div>
        <div class="col-md-6">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password" required><br>
        </div>
        <div class="col-md-6">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control" type="email" id="email" name="email" required><br>
        </div>
        <div class="col-md-6">
        <label class="form-label" for="FirstName">First Name:</label>
        <input class="form-control" type="text" id="FirstName" name="FirstName" required><br>
        </div>
        <div class="col-md-6">
        <label class="form-label" for="LastName">Last Name:</label>
        <input class="form-control" type="text" id="LastName" name="LastName" required><br>
        </div>
        <div class="col-md-6">
        <label class="form-label" for="DateOfBirth">Date of Birth:</label>
        <input class="form-control" type="text" id="DateOfBirth" name="DateOfBirth" required><br>
        </div>
        <div class="col-12">
        <label class="form-label" for="Gender">Gender:</label>
        <input class="form-control" type="text" id="Gender" name="Gender" required><br>
        </div>
        <button class="p-2" type="submit">Register</button>
    </form>
    <p>{{ message }}</p>
    <div class="bg-dark">
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a href="{{ url_for('index') }}" class="nav-link px-2 text-white">Home</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('services') }}" class="nav-link px-2 text-white">Services</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('booking') }}" class="nav-link px-2 text-white">Online Appointments</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('diagnosis') }}" class="nav-link px-2 text-white">Online Diagnosis</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('contact') }}" class="nav-link px-2 text-white">Contact</a>
          </li>
      </ul>
      <p class="text-center text-primary p-0 mb-0 text-white">© 2023 Local NHS General Practitioner</p>
  </div>
</body>
</html>
